BOT_TOKEN=8720448703:AAH0PiiwYeZqLqTYgYDBKXNyWGKQRoiVh
ADMIN_IDS=[83346705,52010077]
BOT_USERNAME=
PORT=3000
SUPPORT_USERNAME=mohsen
PAYMENT_CARD_NUMBER=
PAYMENT_CARD_OWNER=
DATABASE_URL="file:./dev.db"
WELCOME_MESSAGE=👋 به ربات فروش کانفیگ VPN خوش اومدی. اینجا می‌تونی پلن مناسب خودت رو انتخاب کنی، رسید پرداخت رو بفرستی و بعد از تایید ادمین کانفیگت رو دریافت کنی.
PURCHASE_NOTICE_MESSAGE=🛡 قبل از خرید، پلن‌ها رو با دقت بررسی کن. بعد از انتخاب پلن، اطلاعات پرداخت نمایش داده می‌شه و رسیدت برای ادمین ارسال می‌شه.
